.container {
    background: var(--color-4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_description {
    width: 100%;
    height: 100%;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 7px 30px rgb(151 91 175 / 18%);
}

.img_profile {
    width: 12rem;
    border-radius: 50%;
}

.box_image {
    width: 13rem;
    height: 13rem;
}

.img_profile {
    max-width: 100%;
    
}

.box_titles {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-home {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-1);
}

.span-icon {
    color: var(--color-3);
}

.subtitle {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-1);
}

.paragraph {
    margin-top: 1rem;
    text-align: center;
    padding: 0 2rem;
    font-size: 1rem;
    color: var(--color-1);
}

.box_buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 8rem;
    padding: 0.6rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    background: var(--color-3);
    border: none;
    cursor: pointer;
    color: var(--color-1);
    letter-spacing: 1px;
    margin-left: 0.8rem;
}

@media (min-width: 700px) {
    .box_description {
        width: 60%;
        height: 90%;
    }
    .title-home {
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    .paragraph {
        width: 35rem;
    }
}