:root {
  --color-1: #E5E5E5;
  --color-2: #323643;
  --color-3: #8A05BE;
  --color-4: rgba(28, 28, 28, 0.9);
  --color-5: #52687D;
}
.App {
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1c1c;

}